body {
  font-family: 'Open Sans', sans-serif;
  font-size:100%;
}

/*Navigation bar*/
.navbar {
  height:50px;
  background-color:#42647F;
}

.nav-title {
  width:20%;
  float:left;
  font-style:italic;
  margin:0px 0px 10px 0px;
}

.nav-links {
  width:30%;
  float:right;
  padding:10px 10px 5px 5px;
  font-size:120%;
  text-align:right;
}

.nav-text {
  text-decoration:none;
  color:white;
  padding:0px 4px;
}
